body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}

.message {
    margin-top: 15px;
    font-size: 14px;
}

.message a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.message a:hover {
    text-decoration: underline;
}

.bem-vindo {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: #2196F3; /* Azul claro e amigável */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
}

.bem-vindo:hover {
    transform: scale(1.05); /* Aumenta o tamanho quando o mouse passa por cima */
}

.icone {
    font-size: 22px;
    margin-right: 8px;
}

.error {
    color: red;
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}
